# ===== Database =====
DB_USER=postgres
DB_PASSWORD=ppnn13%dkstFeb.1st
DB_NAME=score_system

# ===== Backend =====
SECRET_KEY=3de0a7f0aa56e395f5ae0d4ee773ee791a12dd5e6ab02916d6753c47a26590c9
WORKERS=2

# ===== Frontend =====
FRONTEND_URL=http://121.41.168.85
PORT=80
